{% layout "layouts/base.liquid" %}

{% block head %}
    <title>
        {{ title }}
    </title>
{% endblock %}

{% block content %}
    
    {% if accessToken == false %}
        <p>Welcome! Please sign in.</p>
        <a href="http://localhost:8500/login" class="button">Login</a>
    {% elsif accessToken == true %}
    
        <p>Welcome {{ profile_name }}</p>
        <a href="http://localhost:8500/refresh_token" class="button">Refresh Token</a>
        <a href="http://localhost:8500/logout" class="button">Logout...</a>
        <div class="all-tracks">
            {% for track in tracks %}
                <section onclick="playThisTrack('{{ track.album.id }}', 0)" class="track-group">
                <b>{{ track.artists[0].name }}</b>
                <p>{{ track.name }}</p>
                <img src= {{ track.album.images[0].url }}>
            </section>
            {% endfor %}
        </div>

        <div class="all-playlists">
            {% for playlist in playlists %}
                <section onclick="playThisPlaylist('{{ playlist.id }}', 0)" class="playlist-group">
                    <p>{{ playlist.name }}</p>
                    <img src = {{ playlist.images[0].url }}>
                </section>
            {% endfor %}
        </div>

        <h1>Spotify Web Playback SDK Quick Start</h1>
        <button id="togglePlay">
            <svg xmlns="http://www.w3.org/2000/svg" width="41" height="45" viewBox="0 0 41 67">
                <path id="Play" d="M30.4,3.791a4,4,0,0,1,6.2,0L61.664,34.469A4,4,0,0,1,58.566,41H8.434a4,4,0,0,1-3.1-6.531Z" transform="translate(41) rotate(90)"/>
            </svg>

        </button>
        {% comment %} <button id="switchDevice">Play on this device</button> {% endcomment %}
        <button id="switchDevice">
            <svg xmlns="http://www.w3.org/2000/svg" width="58.401" height="40" viewBox="0 0 58.401 48.564">
                <path id="Devices" d="M516.936,378.3h4.676v-4.918h-7.253V378.3ZM565.6,335.712a6.112,6.112,0,0,0-6.3-5.979H535.258a6.112,6.112,0,0,0-6.3,5.979v36.56a6.112,6.112,0,0,0,6.3,5.979H559.3a6.111,6.111,0,0,0,6.3-5.979Zm-5.153,0v36.56a1.089,1.089,0,0,1-1.145,1.07H535.258a1.09,1.09,0,0,1-1.146-1.07v-36.56a1.09,1.09,0,0,1,1.146-1.07H559.3A1.089,1.089,0,0,1,560.45,335.712Zm-13.169,18.366a7.026,7.026,0,1,1-7.348,7.014A7.158,7.158,0,0,1,547.281,354.078Zm-28.246-24.345H513.5a6.092,6.092,0,0,0-6.3,5.934v22.612a6.093,6.093,0,0,0,6.3,5.935h8.112V359.3H513.5a1.071,1.071,0,0,1-1.145-1.026V335.667a1.071,1.071,0,0,1,1.145-1.025h8.112v-4.909Zm28.246,10.208a3.513,3.513,0,1,1-3.721,3.5A3.652,3.652,0,0,1,547.281,339.941Z" transform="translate(-507.202 -329.733)" fill-rule="evenodd"/>
            </svg>
        </button>
        <button id="next">
            <svg xmlns="http://www.w3.org/2000/svg" width="48.122" height="40" viewBox="0 0 48.122 48.138">
                <path id="Next" d="M550.855,891.159V872.6a1.653,1.653,0,0,1,1.7-1.665h6.964a1.634,1.634,0,0,1,1.607,1.665v44.809a1.633,1.633,0,0,1-1.607,1.664h-6.964a1.653,1.653,0,0,1-1.7-1.664V898.844l-33.927,19.6a2.591,2.591,0,0,1-2.589,0A2.62,2.62,0,0,1,513,916.2V873.8a2.635,2.635,0,0,1,3.928-2.237Z" transform="translate(-513 -870.932)" fill-rule="evenodd"/>
            </svg>
        </button>
        <button id="previous">
            <svg xmlns="http://www.w3.org/2000/svg" width="48.122" height="40" viewBox="0 0 48.122 48.138">
                <path id="Previous" d="M279.145,898.843v18.562a1.653,1.653,0,0,1-1.7,1.665h-6.964a1.634,1.634,0,0,1-1.607-1.665V872.6a1.633,1.633,0,0,1,1.607-1.664h6.964a1.653,1.653,0,0,1,1.7,1.664v18.562l33.927-19.6a2.591,2.591,0,0,1,2.589,0A2.62,2.62,0,0,1,317,873.8v42.4a2.635,2.635,0,0,1-3.928,2.237Z" transform="translate(-268.878 -870.932)" fill-rule="evenodd"/>
            </svg>
        </button>
        <button id="repeat">
            <svg xmlns="http://www.w3.org/2000/svg" width="56.206" height="40" viewBox="0 0 56.206 51.148">
                <path id="Replay" d="M58.56,368.515l3.083-2.94a2.549,2.549,0,0,0,0-3.738,2.878,2.878,0,0,0-3.932,0l-9.61,9.137,9.61,9.138a2.9,2.9,0,0,0,3.932,0,2.56,2.56,0,0,0,0-3.748l-3.083-2.931h11.3c7.319,0,13.264-5.662,13.264-12.622V342.346c0-6.96-5.945-12.613-13.264-12.613H40.19c-7.329,0-13.274,5.653-13.274,12.613v18.465c0,6.96,5.945,12.622,13.274,12.622h2.634v-4.918H40.19a7.915,7.915,0,0,1-8.1-7.7V342.346a7.915,7.915,0,0,1,8.1-7.7H69.858a7.921,7.921,0,0,1,8.1,7.7v18.465a7.921,7.921,0,0,1-8.1,7.7Z" transform="translate(-26.916 -329.733)" fill-rule="evenodd"/>
            </svg>
        </button>
        <button id="shuffle">
            <svg xmlns="http://www.w3.org/2000/svg" width="58.115" height="40" viewBox="0 0 58.115 48.503">
                <path id="Shuffle" d="M554.247,45.083a.247.247,0,0,1,.239.154.228.228,0,0,1-.057.272l-2.376,2.26a2.559,2.559,0,0,0,0,3.747,2.879,2.879,0,0,0,3.932,0s7.223-6.86,9.141-8.693a.613.613,0,0,0,0-.889c-1.918-1.833-9.141-8.693-9.141-8.693a2.879,2.879,0,0,0-3.932,0,2.559,2.559,0,0,0,0,3.748l2.49,2.368a.228.228,0,0,1,.058.272.247.247,0,0,1-.239.154c-1.45,0-4.847-.009-4.847-.009a7.487,7.487,0,0,1-3.9-1.452,31.093,31.093,0,0,1-5.191-4.482s-1.03-1.062-1.565-1.615a.449.449,0,0,0-.334-.145.444.444,0,0,0-.334.118c-.772.681-2.624,2.3-3.4,2.976a.41.41,0,0,0-.153.309.432.432,0,0,0,.125.327c.534.554,1.565,1.615,1.565,1.615,4.475,4.619,9.037,7.64,13.178,7.64C549.505,45.065,552.826,45.074,554.247,45.083Zm.182-34.508a.226.226,0,0,1,.057.272.261.261,0,0,1-.239.154c-1.421,0-4.742.009-4.742.009-2.91,0-6.011,1.407-9.1,3.875-3.884,3.1-7.912,7.94-11.92,12.794-3.759,4.537-7.49,9.1-11.126,12-1.918,1.534-3.722,2.641-5.526,2.641h-4.151a.46.46,0,0,0-.477.444v4.392a.467.467,0,0,0,.134.327.516.516,0,0,0,.343.127h4.151c2.92,0,6.013-1.4,9.105-3.875,3.884-3.1,7.911-7.94,11.928-12.794,3.75-4.537,7.49-9.1,11.126-12.005,1.918-1.533,3.713-2.64,5.516-2.64h.01s3.4-.009,4.847-.009a.261.261,0,0,1,.239.154.228.228,0,0,1-.058.272c-.82.789-2.49,2.377-2.49,2.377a2.549,2.549,0,0,0,0,3.738,2.879,2.879,0,0,0,3.932,0s7.223-6.86,9.141-8.693a.6.6,0,0,0,.191-.444.617.617,0,0,0-.191-.445l-9.141-8.693a2.9,2.9,0,0,0-3.932,0,2.56,2.56,0,0,0,0,3.748S553.637,9.813,554.429,10.575Zm-44.44,3.185h1.841c1.6,0,3.207.889,4.9,2.15a45.745,45.745,0,0,1,6.5,6.27l1.488,1.679a.474.474,0,0,0,.325.154.464.464,0,0,0,.343-.1c.8-.644,2.72-2.187,3.531-2.831a.447.447,0,0,0,.057-.635c-.515-.581-1.5-1.679-1.5-1.679a44.231,44.231,0,0,0-8.846-8.085,12.912,12.912,0,0,0-6.8-2.223H507.2v5.3Z" transform="translate(-507.202 -3.79)" fill-rule="evenodd"/>
            </svg>
        </button>
        {% comment %} <button id="sendNotification">Push Notification</button> {% endcomment %}
        <label>
            volume slider
            <input id="volumeSlider" type="range" min="0" max="1" step=".001" value=".5" name="volume" class="slider" orient="horizontal">	
        </label>
        <label>
            seek
            <input id="seek" type="range" min="0" max="1" step=".001" value=".5" name="seek" class="slider" orient="horizontal">	
        </label>
        <p id="timestamp"></p>
        <img id="album">
        <h2 id="artistname"></h2>
        <p id="trackname"></p>
        <script src="https://sdk.scdn.co/spotify-player.js"></script>
        <script src="./slider.js"></script>
        <script src="./script.js"></script>
    {% endif %}
{% endblock %}

{% block footer %}
    
{% endblock %}